.navigationBar.active::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 60%;
  height: 4px;
  content: "";
  background-color: #2f80ed;
  border-radius: 4px 4px 0 0;
  transform: translateX(-50%);
}
.navigationAll {
  width: 100%;
  position: relative;
  padding: 16px 12%;
}

.navigationAll:hover {
  cursor: pointer;
  background-color: #dfdfdf54;
}

.result {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.result .checkBox {
  border-radius: 4px;
  width: 24px;
  border: 1px solid #828282;
  height: 24px;
  margin-right: 7px;
}

.result .textResult {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.textResult.textResult_Item {
  text-decoration: line-through;
}

.checkboxItem {
  background: #2f80ed;
  align-items: center;
  display: flex;
  justify-content: center;
}

.result .iconDelete {
  right: 0px;
  position: absolute;
  display: flex;
  align-items: center;
}

.result .checkBox svg path {
  fill: #fff;
}

.result .iconDelete svg path {
  fill: #bdbdbd;
}

@media (max-width: 768px) {
  button.btn {
    width: max-content;
    margin-top: 70px;
    padding: 20px 20px;
    position: absolute;
    right: 30px;
  }
}

